/************ Main Style File
***********************************************/
@charset "UTF-8";
/************ Import part
***********************************************/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:regular,bold&amp;v1);

@import url('jquery/blitzer/jquery-ui-1.10.3.min.css');
@import url('ext/css/ext-all.css');
@import url('dock.css');
@import url('loading.css');

/************ Main part
***********************************************/
body {
    /*background: #505050;
    /*font: 62.5% "Trebuchet MS", sans-serif;*/
    background: #161616 url('../img/bg.gif') top left repeat;
    margin: 0;
    padding: 0;
    font: normal 14px/1.5 "PT Sans", Helvetica, Arial, sans-serif;
}

#main {
    min-height: 600px;
    min-width: 800px;
}

/************ LogIn Form
***********************************************/
#login-in-box {
    /*  background-color: white;*/
    background-color: #CACACA;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 250px;
    height: 142px;
    margin: -71px 0 0 -125px;
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 10px rgb(10, 10, 10);
    -webkit-box-shadow: 0 1px 10px rgb(10, 10, 10);
    box-shadow: 0 1px 10px rgb(10, 10, 10);
    text-align: center;
}

#login-in-box #login-in-box-title {
    color: black;
    /*  background-color: #F0F0F0;*/
    background-color: #F0F0F0;
    background: -moz-linear-gradient(top, #E5E5E5 0%, #CACACA);
    background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#CACACA));
    min-height: 20px;
    max-height: 35px;
    font: 15px "Tahoma";
    padding: 6px 0;
    font-weight: bold;
}

/*#login-in-form {
    /*  background-color:aqua;
/*  position: absolute;
    top: 48%;
    left: 50%;
    width: 250px;
    height: 100px;
    margin: -50px 0 0 -125px;
    text-align: center;
}*/

#login-in-form br {
    display: inline;
    width: 10px;
    height: 15px;
}

#login-in-form input {
    border: 0;
    width: 250px;
    height: 35px;
    color: black;
    text-align: center;
    background-color: white;
    font: 15px "Tahoma";
    font-weight: bold;
}

#login-in-form input[type=text] {
    color: #FF0066;
    margin: 0 0 2px 0;
}

#login-in-form input[type=password] {
    color: #FF0066;
    font-weight: bold;
}

#login-in-form input:focus {
    /*  background-color:black;
    color:white;*/
}

#login-in-form input[type=submit] {
    /*  color: #F0F0F0;*/
    font: 15px "Tahoma";
    font-weight: bold;
    /*  font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;*/
    color: #ffffff;
    padding: 0;
    background-color: #FF0066;
    background: -moz-linear-gradient(top, #FF99CC 0%, #FF0066);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF99CC), to(#FF0066));
}