<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="LiVEZer.Medicine.Session">
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://HOT-DEVICE:1189;instanceName=DBLOCALE;databaseName=medicineTest;integratedSecurity=false;</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.connection.pool_size">7</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.use_sql_comments">true</property>
        <property name="hibernate.session_factory_name">LiVEZer.Medicine.Session</property>
        <!-- Credentials -->
        <property name="hibernate.connection.username">LOCAL_USER</property>
        <property name="hibernate.connection.password">1111</property>
        <!-- Mapping -->
        <!-- <mapping resource="config/mapping/Item.hbm.xml" />
        <mapping resource="config/mapping/MenuItem.hbm.xml" />-->
    </session-factory>
</hibernate-configuration>